{% extends 'cvinterface/base.html' %}

{#{% block breadcrumbs %}#}
{#    <li class="active glyphicon glyphicon-home"></li>#}
{#{% endblock %}#}

{% block body %}
<div class="col-lg-12">
    <h2 class="page-header">Master Controlled Vocabulary Registry for ODM2</h2>
    <p>Version 2 of the Observations Data Model (ODM2) has several controlled vocabularies. This web page was
	developed to promote consistency between different instances of ODM2 through a community moderated
	system for managing the master controlled vocabularies. This web page displays the master controlled
	vocabulary entries and allows you to request additions or changes to these. You may then use these terms
	in an ODM2 database or in files that are intended to be interoperable with ODM2.</p>

    <p>Changes that you request are forwarded to the moderators who will attend to requests as promptly as possible.
	When you submit a request, you should receive an email verifying that your request has been received.
	When your request is approved, you should also receive an email confirmation. If you have a request that
	cannot be accommodated on this website, please contact the moderators:</p>
   
    <table class="moderatorsList">
        <tbody>
        <tr valign="top">
            <td>
                <p><b>Jeff Horsburgh</b><br>
                    Utah State University<br>
                    <a href="mailto:jeff.horsburgh@usu.edu">jeff.horsburgh@usu.edu</a></p>
            </td>
        </tr>
        </tbody>
    </table>

    <h2 class="page-header">Controlled Vocabularies</h2>

    {% for vocabulary in vocabulary_views %}
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="caption">
                    <h3>{{ vocabulary.name }}</h3>
                    <p>{{ vocabulary.definition }}</p>
                    <p><a href="{{ vocabulary.url }}" class="btn btn-default" role="button">View</a></p>
                </div>
           </div>
        </div>
    {% endfor %}

</div>

{% endblock %}
